/** @format */

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;500;700;900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #e0e8ff;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Red Hat Display', sans-serif;

  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.container {
  margin-top: 8rem;
}

.title {
  font-size: 5rem;
}

li {
  font-size: 3rem;
}

a {
  text-decoration: none;
}
